%h1 Editing Supplement Plan

= render 'form', supplement_plan: @supplement_plan

-# = link_to 'Show', @supplement_plan, class: 'btn btn-primary'
-# = link_to 'Back', supplement_plans_path, class: 'btn btn-primary'